@model Person
@{
	ViewBag.Title = "Details";
}
@section scripts{
	<script src="~/scripts/popup.js"></script>
}


<h1>@Model.Name</h1>

@MovieList("Skuespiller i", Model.ActedMovies)
@MovieList("Produsent for", Model.ProducedMovies)
@MovieList("Regisør for", Model.DirectedMovies)

@helper MovieList(string title, IEnumerable<MovieDAL.Movie> movies)
{
	if (movies.Any())
	{
		<h2>@title</h2>
		<ul>
			@foreach (var movie in movies)
			{
				<li>
					@Cover.Thumb(movie)
					@*@Html.ActionLink(movie.Title, "Details", "Movie", new { id = movie.MovieId }, null)*@
					@Ajax.ActionLink(movie.Title, "Details", "Movie", new { id = movie.MovieId }, new AjaxOptions
			   {
				   UpdateTargetId = "popup",
				   InsertionMode = InsertionMode.InsertBefore,
				   OnBegin = "dimBackground()",
				   OnSuccess = "showPopup()",
				   OnFailure = "resetBackground()"
			   })
				</li>
			}
		</ul>
	}
}

